@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary: #6C40B5;
  --color-grayblack-50: color-mix(in oklab, #1a1a1a 50%, transparent);
  --color-grayblack-30: color-mix(in oklab, #1a1a1a 30%, transparent);
  --color-primary-hover: #593C9E;
  --font-noto-sans: "Noto Sans", sans-serif;
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;
  
  @variant sm {
    padding-inline: 20px;
  }
  
  @variant lg {
    padding-inline: 80px;
  }
  
  @variant xl {
    padding-inline: 300px;
  }
}